*{padding:0;margin:0;}

.float{
	position:fixed;
	width:80px;
	height:80px;
	bottom:10%;
	right:10%;
	background-color: var(--primary);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
