.photosContainer {
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.photoEntry {
    /* flex: 1 auto; */
    height: 100% !important;
    width: fit-content !important;
}

.badges-container {
    position: absolute;
    right: 0;
    bottom: 0;
    height: fit-content;
    width: fit-content;
}

.label-badge {
    z-index: 10;
    margin: 1px;
}

.basic-creatable-select {
    z-index: 700
}
