#viewport {
  width: 100%;
  height: 100vh;
  background: linear-gradient(140deg, rgba(246, 157, 114, 1) 0%,rgba(189, 139, 192, 1) 100%);
}

#form-container {
  margin: auto;
  width: fit-content;
  background-color: rgba(256, 256, 256, 0.8);
  border-radius: 50px;
}

#login-button {
  margin: auto;
  width: fit-content;
}

#signup-button {
  margin: auto;
  width: fit-content;
}