
.fs-12 {
    font-size: 12px !important
}

.shadow-none {
    box-shadow: none !important
}

.name {
    color: var(--primary) !important
}

.cursor:hover {
    color: var(--primary-dark) !important
}

.cursor {
    cursor: pointer !important
}

.textarea {
    resize: none
}
