
@font-face {
    font-family: 'Gmarket Sans OTF';
    src: local('Gmarket Sans OTF'), url('./common/fonts/GmarketSansMedium.otf') format('opentype');
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('NanumBarunGothic'), url('./common/fonts/NanumBarunGothic.otf') format('opentype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-weight: 700;
	font-style: bold;
	font-display: swap;
	src: local('NanumBarunGothic'), url('./common/fonts/NanumBarunGothicBold.otf') format('opentype');
}
@font-face {
	font-family: 'NanumBarunGothicLight';
	font-weight: 200;
	font-style: light;
	font-display: swap;
	src: local('NanumBarunGothic'), url('./common/fonts/NanumBarunGothicLight.otf') format('opentype');
}
:root {
  box-sizing: border-box;
  --primary: #f69d72;
  --primary-dark: #e08a60;
  --divider: #dedede;
  --emphasis: #837cc4;
  --secondary: #ea9bbb;
  --dark-brown: #4e2b1a;
  --dark-grey: #3d3d3d;
  --gmarket-sans : "Gmarket Sans OTF", sans-serif;
  --pretendard: "Pretendard Variable", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border: 1px solid var(--divider);
}

.bi::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}
