.notice-text-overflow {
    max-width: 650px;
    overflow:hidden;
    text-overflow:ellipsis !important;
    white-space:nowrap !important;
}

.notice-text-overflow-long {
    max-width: 800px;
    overflow:hidden;
    text-overflow:ellipsis !important;
    white-space:nowrap !important;
}