#dropdown-basic::after {
    display: none !important;
}

#dropdown-basic {
    width: 100%;
}

.small-close-button {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: 0.25rem;
    transform: translateY(25%);
}